
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;

    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    align-items: center;
    height: inherit;
    justify-content: center;
}


.calculator-container
{
    -webkit-backdrop-filter: blur(5.5px);
    backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen
{
    backdrop-filter: blur(5.5px);   
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    font-size: 35px;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.row
{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{

    flex-basis: 20%;
    border: 1px solid black;
    border-radius: 10px;
    font-family: inherit;
    color: #232323;
    font-size: 24px;
    font-weight: 600;
    height: 65px;
}

.double
{
    flex-basis: 47%;
}

.triple
{
    flex-basis: 73%;
}